div.wrapper
  div.row
    div.location
      p.location__title
        | Location
      p.location__desctiption
        | 3481 Melrose Place
        br
        | Beverly Hills, CA 90210
    div.links
      p.links__title
        | Share with love
      //used social block mixin
      +social
    div.download
      p.download__title
        | download activebox
      button(type="button").download__button
        | download here
