mixin services(logoClass, title)
  div.services__item
    div(class=logoClass).services__logo
    p.services__title
      =title
    p.services__description.
      Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla

section
  h1.visually-hidden
    | About Services
  .services
    div.services__list
      +services('services__logo--pencil',  'Easily Customized')
      +services('services__logo--display', 'Responsive Ready')
      +services('services__logo--lamp',    'Moder Design')
      +services('services__logo--atom',    'Clean Code')
      +services('services__logo--backpack','Ready to Ship')
      +services('services__logo--cloud',   'Download For Free')




