
.navigation {
  @include col();
  @include size(6);
  @include size-lg(6);
  @include size-md(12);
  @include md(margin-top, 20px);
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  @include md(font-size, 10px);
  font-family: $main-font;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  
  a {
    @extend %link;
    @include transition(color);
    color: $white-color;
  }
  
  a:hover {
    color: $secondary-color;
  }
}
